<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Valkyrie Mod</a></h1>
    </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section"> <!-- Right Nav Section -->
    <ul class="left">
      <li><a href="/mod/crafting">Crafting</a></li>
      <li><a href="/mod/construction">Construction</a></li>
      <li><a href="/mod/resources">Resources</a></li>
      <li><a href="/mod/gear">Gear</a></li>
      <li><a href="/mod/enemies">enemies</a></li>
    </ul> <!-- Left Nav Section -->
  </section>

  <section class="top-bar-section"> <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/development/timeline">Timeline</a></li>
      <li><a href="/development/updates">Updates</a></li>
      <li><a href="/development/contribute">Contribute</a></li>
      <li><a href="/legal">Legal</a></li>
    </ul> <!-- Left Nav Section -->
  </section>
</nav>
