@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
  font-family: "Walter Turncoat", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Permanent Marker";
  font-size: 2.2rem;
}
